In [1]:
print(1)

1

In [2]:
import pandas

In [3]:
df = pandas.read_csv('employees.csv')
print(df)

   Firstname  Lastname                          Email  Age     Salary
0     Zondra  Gherardo    Zondra.Gherardo@yopmail.com   48   78133.48
1     Felice      Mich        Felice.Mich@yopmail.com   65   63325.30
2   Charissa     Ashok     Charissa.Ashok@yopmail.com   58   85752.30
3      Misha   Glovsky      Misha.Glovsky@yopmail.com   62  145808.43
4     Frieda  Adrienne    Frieda.Adrienne@yopmail.com   20  114615.29
..       ...       ...                            ...  ...        ...
95  Pierette  Garlinda  Pierette.Garlinda@yopmail.com   43   95241.85
96      Emma     Chick         Emma.Chick@yopmail.com   18  106618.50
97   Kristan   Isidore    Kristan.Isidore@yopmail.com   58  143835.76
98  Cindelyn     Wesle     Cindelyn.Wesle@yopmail.com   40   46174.76
99    Myriam   Laverne     Myriam.Laverne@yopmail.com   53  127291.99

[100 rows x 5 columns]

In [4]:
df.mean()

Age          41.8500
Salary    90991.6321
dtype: float64